<?xml version="1.0"?>
<config>
	<modules>
		<OneAll_SocialLogin>
			<version>1.1.4</version>
		</OneAll_SocialLogin>
	</modules>

	<frontend>
		<routers>
			<oneallsociallogin>
				<use>standard</use>
				<args>
					<module>OneAll_SocialLogin</module>
					<frontName>social</frontName>
				</args>
			</oneallsociallogin>
		</routers>
		<layout>
			<updates>
				<oneall_sociallogin module="oneall_sociallogin">
					<file>oneall-sociallogin.xml</file>
				</oneall_sociallogin>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<blocks>
			<oneall_sociallogin>
				<class>OneAll_SocialLogin_Block</class>
			</oneall_sociallogin>
		</blocks>
		<models>
			<oneall_sociallogin>
				<class>OneAll_SocialLogin_Model</class>
				<resourceModel>oneall_sociallogin_mysql4</resourceModel>
			</oneall_sociallogin>
			<oneall_sociallogin_mysql4>
				<class>OneAll_SocialLogin_Model_Mysql4</class>
				<entities>
					<entity>
						<table>oneall_sociallogin_entity</table>
					</entity>
				</entities>
			</oneall_sociallogin_mysql4>
		</models>
		<resources>
			<oneall_sociallogin_setup>
				<setup>
					<module>OneAll_SocialLogin</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</oneall_sociallogin_setup>
			<oneall_sociallogin_write>
				<connection>
					<use>core_write</use>
				</connection>
			</oneall_sociallogin_write>
			<oneall_sociallogin_read>
				<connection>
					<use>core_read</use>
				</connection>
			</oneall_sociallogin_read>
		</resources>
		<helpers>
			<oneall_sociallogin>
				<class>OneAll_SocialLogin_Helper</class>
			</oneall_sociallogin>
		</helpers>
	</global>
	<default>
		<oneall_sociallogin>
			<connection>
				<handler>curl</handler>
				<port>443</port>
			</connection>
			<settings>
				<textsignup>Sign up with a social network</textsignup>
				<textsignin>Sign in with a social network</textsignin>
			</settings>
			<services>
				<amazon>setno</amazon>
				<battlenet>setno</battlenet>
				<blogger>setno</blogger>
				<disqus>setno</disqus>
				<draugiem>setno</draugiem>
				<dribbble>setno</dribbble>
				<facebook>setyes</facebook>
				<foursquare>setno</foursquare>
				<githubcom>setno</githubcom>
				<google>setyes</google>
				<instagram>setno</instagram>
				<linkedin>setyes</linkedin>
				<livejournal>setno</livejournal>
				<mailru>setno</mailru>
				<odnoklassniki>setno</odnoklassniki>
				<openid>setno</openid>
				<paypal>setno</paypal>
				<pinterest>setno</pinterest>
				<pixelpin>setno</pixelpin>
				<reddit>setno</reddit>
				<skyrockcom>setno</skyrockcom>
				<stackexchange>setno</stackexchange>
				<steam>setno</steam>
				<twitch>setno</twitch>				
				<twitter>setyes</twitter>
				<vimeo>setno</vimeo>
				<vkontakte>setno</vkontakte>
				<windowslive>setno</windowslive>
				<wordpress>setno</wordpress>
				<xing>setno</xing>
				<yahoo>setno</yahoo>
				<youtube>setno</youtube>
			</services>			
		</oneall_sociallogin>
	</default>
</config> 