<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<oneall translate="label">
			<label>OneAll</label>
			<sort_order>200</sort_order>
		</oneall>
	</tabs>
	<sections>	
		<oneall_sociallogin>
			<label>OneAll Social Login</label>
			<tab>oneall</tab>
			<frontend_type>text</frontend_type>
			<sort_order>250</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<documentation translate="label">
					<label>Documentation</label>
					<comment><![CDATA[The online documentation for this extension is available <a href="http://docs.oneall.com/plugins/guide/social-login-magento/" target="_blank">here</a>.]]></comment>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
				</documentation>
				<connection translate="label">
					<label>API Connection Handler</label>
					<frontend_type>Radios</frontend_type>
					<frontend_model>oneall_sociallogin/adminhtml_system_config_fieldset_general</frontend_model>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
					<fields>
						<handler>
							<label>Connection Handler</label>
							<frontend_type>select</frontend_type>
							<source_model>oneall_sociallogin/apiconnectionhandler
							</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</handler>
						<port>
							<label>Connection Port</label>
							<frontend_type>select</frontend_type>
							<source_model>oneall_sociallogin/apiconnectionport</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</port>						
						<autodetect>						
							<frontend_type>Button</frontend_type>
							<comment>
								<model>oneall_sociallogin/apiautodetect</model>
							</comment>
							<source_model>oneall_sociallogin/apiautodetect</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</autodetect>
					</fields>
				</connection>
				<general translate="label">
					<label>API Settings</label>
					<comment><![CDATA[<strong>You can create and view your API Credentials in your <a href="https://app.oneall.com/signin/" target="_blank">OneAll account</a>.</strong>]]></comment>
					<frontend_type>text</frontend_type>
					<frontend_model>oneall_sociallogin/adminhtml_system_config_fieldset_general</frontend_model>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
					<fields>
						<subdomain>
							<label>API Subdomain</label>
							<frontend_type>text</frontend_type>
							<backend_model>oneall_sociallogin/subdomain</backend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</subdomain>
						<key>
							<label>API Public Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</key>
						<secret>
							<label>API Private Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</secret>
						<verify>
							<label></label>
							<frontend_type>Button</frontend_type>
							<comment>
								<model>oneall_sociallogin/apiverify</model>
							</comment>
							<source_model>oneall_sociallogin/apiverify</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</verify>
					</fields>
				</general>
				<services translate="label">
					<label>Enable the Social Networks to use</label>
					<frontend_type>text</frontend_type>
					<frontend_model>oneall_sociallogin/adminhtml_system_config_fieldset_general</frontend_model>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
					<fields>
						<amazon>
							<label>Amazon</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</amazon>
						<blogger>
							<label>Blogger</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</blogger>
						<disqus>
							<label>Disqus</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</disqus>
						<facebook>
							<label>Facebook</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</facebook>
						<foursquare>
							<label>Foursquare</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</foursquare>
						<githubcom>
							<label>Github.com</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</githubcom>
						<google>
							<label>Google</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</google>
						<instagram>
							<label>Instagram</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</instagram>
						<linkedin>
							<label>Linkedin</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</linkedin>
						<livejournal>
							<label>Live journal</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</livejournal>
						<mailru>
							<label>Mail.ru</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</mailru>
						<odnoklassniki>
							<label>Odnoklassniki</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</odnoklassniki>
						<openid>
							<label>Openid</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</openid>
						<paypal>
							<label>Paypal</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</paypal>
						<reddit>
							<label>Reddit</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</reddit>
						<skyrockcom>
							<label>Skyrock.com</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</skyrockcom>
						<stackexchange>
							<label>Stackexchange</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</stackexchange>
						<steam>
							<label>Steam</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</steam>
						<twitch>
							<label>Twitch.tv</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>19</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitch>
						<twitter>
							<label>Twitter</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</twitter>
						<vimeo>
							<label>Vimeo</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</vimeo>
						<vkontakte>
							<label>Vkontakte</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</vkontakte>
						<windowslive>
							<label>Windows live</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</windowslive>
						<wordpress>
							<label>Wordpress</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>24</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</wordpress>
						<yahoo>
							<label>Yahoo</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</yahoo>
						<youtube>
							<label>Youtube</label>
							<frontend_type>Select</frontend_type>
							<source_model>oneall_sociallogin/services</source_model>
							<sort_order>26</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</youtube>
					</fields>
				</services>

				<settings translate="label">
					<label>Settings</label>
					<frontend_type>text</frontend_type>
					<frontend_model>oneall_sociallogin/adminhtml_system_config_fieldset_general</frontend_model>
					<sort_order>5</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
					<fields>
						<textsignup>
							<label>Registration Title</label>
							<comment>Displayed when registering with a Social Network
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</textsignup>
						<textsignin>
							<label>Login Title</label>
							<comment>Displayed when logging in with a Social Network
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</textsignin>
					</fields>
				</settings>
			</groups>
		</oneall_sociallogin>
	</sections>
</config>